* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-image: url("/assets/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}


.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 60rem;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}


.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.signup .form-details {
    padding: 0 40px;
    background: url("/assets/plane.jpg") no-repeat;
    margin-bottom: 18px;
    margin-left: 18px;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #00bcd4;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #00bcd4;
    font-size: 0.75rem;
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-content {
    position: relative;
}


@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}

.name-fields{
    display: flex;
    gap:5px
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #00bcd4;
}

.trans-bg{
    position: absolute;
    width: 90%;
    height: 45%;
    background-color: #002b31;
    opacity: 0.7;
    bottom: -19px;
    left: -19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 0 0 0 10px;
}

.signin-btn{
    position: absolute;
    top:5%;
    right: 7.5%;
    width: 15%;
    height: 5%;
    color: #00bcd4;
    border: 1px solid #00bcd4;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    transition: 0.2s ease;
}
.signin-btn:hover{
    background: #00bcd4;
    color: #fff;
}